/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /* ========================
     ЦВЕТОВАЯ ПАЛИТРА И ФОН
     ======================== */
  --bg-color: #000028; /* Фон всей страницы */
  --bg-image: url("../images/cover-image-dark.png"); /* Фоновое изображение для тёмной темы */

  --paragraph-color: #f1b2ce; /* Второстепенный текст */
  --title-color: #db00ff; /* Главный заголовок (no focus) */
  --accent-color: #ff0070; /* Универсальный акцентный цвет (кнопки, уголки, REC) */

  /* ========================
     ЭЛЕМЕНТЫ ИНТЕРФЕЙСА
     ======================== */
  --theme-menu-color: var(--accent-color); /* Цвет текста в меню тем */
  --section-title-color: var(--accent-color); /* Цвет заголовков секций */

  --decor-bg: var(--accent-color); /* Цвет фона плашек (title-decor) */
  --decor-text: #000028; /* Цвет текста на плашках */
  --decor-zone-color: var(--accent-color); /* Цвет декоративных уголков */

  --rec-display: flex; /* Управление видимостью значка REC */
}
