/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /* ========================
     ЦВЕТОВАЯ ПАЛИТРА И ФОН
     ======================== */
  --bg-color: #ffebf7; /* Фон всей страницы */
  --bg-image: url("../images/cover-image-light.png"); /* Фоновое изображение для светлой темы */

  --paragraph-color: #353430; /* Второстепенный текст */
  --title-color: #ffc2e6; /* Главный заголовок (no focus) */
  --accent-color: #ff8dcb; /* Универсальный акцентный цвет (кнопки, уголки, REC) */

  /* ========================
     ЭЛЕМЕНТЫ ИНТЕРФЕЙСА
     ======================== */
  --theme-menu-color: var(--paragraph-color); /* Цвет текста в меню тем */
  --section-title-color: var(--paragraph-color); /* Цвет заголовков секций */

  --decor-bg: var(--accent-color); /* Цвет фона плашек (title-decor) */
  --decor-text: #353430; /* Цвет текста на плашках */
  --decor-zone-color: var(--paragraph-color); /* Цвет декоративных уголков */

  --rec-display: none; /* Скрываем значок REC в светлой теме */
}

/* Автоматическое переключение на светлую тему,
  если у пользователя так настроена система
*/
@media (prefers-color-scheme: light) {
  :root {
    /* ========================
       ЦВЕТОВАЯ ПАЛИТРА И ФОН
       ======================== */
    --bg-color: #ffebf7;
    --bg-image: url("../images/cover-image-light.png");

    --paragraph-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;

    /* ========================
       ЭЛЕМЕНТЫ ИНТЕРФЕЙСА
       ======================== */
    --theme-menu-color: var(--paragraph-color);
    --section-title-color: var(--paragraph-color);

    --decor-bg: var(--accent-color);
    --decor-text: #353430;
    --decor-zone-color: var(--paragraph-color);

    --rec-display: none;
  }

  /* Принудительно скрываем REC при авто-теме, если системная тема светлая */
  :root.theme-auto .header__rec {
    display: none;
  }
}
