/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
 
  /* Фоновое изображение для тёмной темы */
  --bg-image: url('../images/cover-image-light.png');

 /* Фон и основной текст */
  --bg-color: #ffebf7;
  --paragraph-color: #353430;
  
  /* Универсальный акцентный цвет (кнопки, уголки, REC, заголовки статей) */
  --accent-color: #FF8DCB;
  
--theme-menu-color: var(--paragraph-color);

  --section-title-color: var(--paragraph-color);
  /* Главный заголовок (no focus) */
  --title-color: #FFC2E6;

  --decor-bg: var(--accent-color);
  
  /* Плашки (title-decor) */
  --decor-text: #353430;

  --decor-zone-color: var(--paragraph-color); 
  --rec-display: none;  
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #ffebf7;
    --paragraph-color: #353430;
    --accent-color: #FF8DCB;
    --theme-menu-color: var(--paragraph-color);
    --section-title-color: var(--paragraph-color);
    --title-color: #FFC2E6;
    --decor-bg: var(--accent-color);
    --decor-text: #353430;
    --decor-zone-color: var(--paragraph-color); 
    --rec-display: none; 
  }

  :root.theme-auto .header__rec {
    display: none;
  }
}